// Todo: development link
@import url(https://i.icomoon.io/public/temp/67649e91bf/ctcrab/style.css);

$color-bg: #f7f0f0
$color-text: #484349
$color-accent: #235789
$color-light-accent: #8af3ff
$color-green: #109648
$color-red: #96101B

body
	background-color: $color-bg
	color: $color-text
	margin: 0
	padding: 0
	font-family: sans-serif

	> .topbar
		background-color: $color-accent
		color: $color-bg
		padding: 10px
		text-align: center

		> h1
			margin: 0
			padding: 0
			font-weight: bold
			font-size: 1.5em

	> h2
		font-size: 1.5em
		font-weight: normal
		margin: 5px 10px
		padding: 5px 0 5px 20px
		color: $color-accent
		border-bottom: rgba($color-accent, 0.5) solid 1px

		> .apilink
			color: rgba($color-text, 0.7)
			font-size: 0.6em
			margin-left: 10px
			text-decoration: none

.loglist
	list-style-type: none
	margin: 0
	padding: 5px 10px 5px 30px

	li
		margin: 5px 0
		a.name
			display: inline-block
			padding: 5px
			margin-left: -5px
			font-size: 1.1em
			color: $color-accent
			text-decoration: none
			transition: color 200ms
			&:hover
				color: darken($color-accent, 10%)
			margin-right: 30px
		> span, a
			margin-right: 20px
		> a.endpoint
			color: rgba($color-text, 0.8)
			text-decoration: none
		> .late
			color: $color-red
		.error
			color: $color-red
			> span.icon
				display: inline-block
				margin-right: 5px

body.error-page
	ul
		margin: 0
		padding: 5px 10px 5px 30px
		li
			margin: 5px 0
	.version
		padding: 0 10px 0 30px
